.content {
  width: 65%;
  margin: auto;
}

.movie-list {
  list-style-type: none;
  border-radius: 4px;
  padding: 0.75rem;
  border: 1px solid rgba(0,0,0,0.12);  
}

.movie-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  padding-top: 2px;
  padding-bottom: 2px;
}

.movie-poster {
  width: 80px;
  height: 120;
  max-width: 80px;
  max-height: 120px;
  display: block;
  margin-right: 8px;
}

.movie-poster img {
  width: 80px;
  height: 120px;
  max-width: 80px;
  max-height: 120px;
  object-fit: cover;
  border-radius: 0 10px 10px 10px;
  margin: 0 0 2px 2px;
}

.movie-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.movie-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  height: auto;
  margin: 0;
}

.movie-info {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
}

.movie-info span {
  font-size: 14px;
  color: #666;
  margin-right: 12px;
}

.movie-rating {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: start;
  font-size: 14px;
  margin-top: 8px;
}

.movie-rating .rating-value {
  color: #666;
}

.movie-info-button {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.movie-info-button div:first-of-type {
  color: white;
  border: none;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: grid;
  align-items: center;
  cursor: pointer;
}

.movie-info-button div:first-of-type:hover {
  background-color: #5f82ff17;
}

.movie-info-button img:first-of-type {
  height: 25px;
  width: 25px;
  margin: auto;
}

.movie-rating img:first-of-type {
  height: 14px;
  width: 14px;
  margin-right: 6px;

}

.toolbar {
  display: flex;
  align-items: center;  
  
  width: 100%;
  margin-bottom: 30px;
}

.search-bar-container {
  flex: 1;
  max-width: 400px;
}

.search-bar {
  width: 100%;
  padding: 8px 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: border-color 0.2s ease-in-out;
}

.search-bar:focus {
  border-color: #007bff;
}

.add-btn {
  margin-left: 30px;
}

.add-btn div:first-of-type {
  color: white;
  border: none;
  border-radius: 50%;
  height: 42px;
  width: 42px;
  display: grid;
  align-items: center;
  cursor: pointer;
}

.add-btn div:first-of-type:hover {
  background-color: #5f82ff17;
}

.add-btn img:first-of-type {
  height: 32px;
  width: 32px;
  margin: auto;
}